altair
argon2-cffi
argon2-cffi-bindings
asttokens
attrs
backcall
beautifulsoup4
bleach
blinker
cachetools
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
entrypoints
executing
fastjsonschema
fonttools
gitdb
GitPython
htmlmin
idna
ImageHash
importlib-metadata
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
joblib
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
MarkupSafe
matplotlib
matplotlib-inline
missingno
mistune
multimethod
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
numpy
packaging
pandas
pandas-profiling
pandocfilters
parso
phik
pickleshare
Pillow
plotly
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pyarrow
pycparser
pydantic
pydeck
Pygments
Pympler
pyparsing
pyrsistent
python-dateutil
pytz
pytz-deprecation-shim
PyWavelets
pywinpty
PyYAML
pyzmq
requests
scikit-learn
scipy
seaborn
semver
Send2Trash
six
sklearn
smmap
soupsieve
stack-data
streamlit
streamlit-lottie
streamlit-option-menu
streamlit-pandas-profiling
tangled-up-in-unicode
tenacity
terminado
threadpoolctl
tinycss2
toml
toolz
tornado
tqdm
traitlets
typing_extensions
tzdata
tzlocal
urllib3
validators
visions
watchdog
wcwidth
webencodings
widgetsnbextension
